In [26]:
import requests


BASE_URL = "https://books.toscrape.com/catalogue/page-{}.html"

all_book_titles = []

# There are 50 pages in total.
for page_num in range(1,51):
    url = BASE_URL.format(page_num)
    
    response = requests.get(url)
    
    if response.status_code != 200:
        print(f"Failed to retrive the page {page_num}")
    else:
        all_book_titles.append(response.text)
        print(f"Success to retrive the page {page_num}")


# wanna join the array into one variable 
html_content = "\n".join(all_book_titles)

Success to retrive the page 1
Success to retrive the page 2
Success to retrive the page 3
Success to retrive the page 4
Success to retrive the page 5
Success to retrive the page 6
Success to retrive the page 7
Success to retrive the page 8
Success to retrive the page 9
Success to retrive the page 10
Success to retrive the page 11
Success to retrive the page 12
Success to retrive the page 13
Success to retrive the page 14
Success to retrive the page 15
Success to retrive the page 16
Success to retrive the page 17
Success to retrive the page 18
Success to retrive the page 19
Success to retrive the page 20
Success to retrive the page 21
Success to retrive the page 22
Success to retrive the page 23
Success to retrive the page 24
Success to retrive the page 25
Success to retrive the page 26
Success to retrive the page 27
Success to retrive the page 28
Success to retrive the page 29
Success to retrive the page 30
Success to retrive the page 31
Success to retrive the page 32
Success to retrive the page 33
Success to retrive the page 34
Success to retrive the page 35
Success to retrive the page 36
Success to retrive the page 37
Success to retrive the page 38
Success to retrive the page 39
Success to retrive the page 40
Success to retrive the page 41
Success to retrive the page 42
Success to retrive the page 43
Success to retrive the page 44
Success to retrive the page 45
Success to retrive the page 46
Success to retrive the page 47
Success to retrive the page 48
Success to retrive the page 49
Success to retrive the page 50

In [27]:
from bs4 import BeautifulSoup


# Create the BeautifulSoup obj to parse the HTML
soup = BeautifulSoup(html_content, "html.parser")

# Find all the book containers of the page
# each book is inside the article tag with class 'product_pod'
books = soup.find_all("article", class_="product_pod")

scraped_data = []

for book in books:
    title = book.h3.a["title"]
    price = book.find("p", class_="price_color").text

    scraped_data.append({"title":title, "price":price})
    
scraped_data[:5]

[{'title': 'A Light in the Attic', 'price': 'Â£51.77'},
 {'title': 'Tipping the Velvet', 'price': 'Â£53.74'},
 {'title': 'Soumission', 'price': 'Â£50.10'},
 {'title': 'Sharp Objects', 'price': 'Â£47.82'},
 {'title': 'Sapiens: A Brief History of Humankind', 'price': 'Â£54.23'}]

In [28]:
import pandas as pd

df = pd.DataFrame(scraped_data)

# index=Flase just for preventing pandas from writing row numbers into the file
df.to_csv("./data/books.csv", index=False)

df.head()

                                   title    price
0                   A Light in the Attic  Â£51.77
1                     Tipping the Velvet  Â£53.74
2                             Soumission  Â£50.10
3                          Sharp Objects  Â£47.82
4  Sapiens: A Brief History of Humankind  Â£54.23